
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');


body{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	line-height: auto;
	background: #E5E5E5;
}
main{
	padding: 56px 0;
}
.container {
    max-width: 1500px;
}
/****** table ********/
.table-responsive{
	margin-bottom: 30px;
}
.table {
    width: 100%;
    margin-bottom: 0;
}
.top-table{
	width: 1470px;
}
.table thead th {
    vertical-align: middle;
    border-bottom: none;
}
.table th {
	border-top: none;
    border-bottom: none;
}
.table td, .table th {
    padding: 0;
    width: 6.2%;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
	font-weight: 500;
}
.top-table{
	border-radius: 3px;
	overflow: hidden;
}
.first-level{
	background: #5385DF;
	color: #fff;
}
.first-level tr{
	height: 64px;
}
.table .row-head{
	width: 25.6%;
	text-align: left;
}
.cel-inner{
	padding: 13px 12px;
}
.top-title{
	position: relative;
	line-height: 23px;
	padding-left: 54px;
	text-shadow: 3.464px 2px 3px rgba(39, 100, 255, 0.4);
}
.top-title:before{
	content: '';
	width: 20px;
	height: 23px;
	background-image: url(img/icon-first.svg);
	background-repeat: no-repeat;
	background-size: cover;
    position: absolute;
    left: 14px;
}
.collapse-arrow{
	margin-right: 10px;
}
.collapse-arrow-down{
	width: 9px;
	height: 9px;
	background-image: url(img/down-chevron.svg);
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
	box-shadow: 4px 2px 3px 0px rgba(58, 128, 255, 0.4);
}
.collapse-arrow-up{
	width: 9px;
	height: 9px;
	background-image: url(img/up-chevron.svg);
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
	box-shadow: 4px 2px 3px 0px rgba(58, 128, 255, 0.4);
}
.top-title-col{
	display: inline-block;
	position: relative;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
}
.second-level{
	display: none;
}
.second-level-content{
	display: none;
}
.second-level-head{
	background: #F3F6FB;
	border-left: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	height: 56px;
}
.second-level-title{
	padding-left: 12px;
}
.second-level-title a{
	display: inline-block;
	vertical-align: middle;
}
.second-level-head td{
	border: none;
	color: #505667;
	font-size: 14px;
}

.second-level-title__inner{
	display: inline-block;
	position: relative;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	color: #3F3F3F;
}
.second-level-title__img{
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 22px;
}
.second-level-title__img img{
	width: 100%;
	height: auto;
}
.collapse-arrow{
	margin-right: 14px;
}
.collapse-arrow-down-black{
	width: 9px;
	height: 9px;
	background-image: url(img/down-chevron-black.svg);
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
}
.collapse-arrow-up-black{
	width: 9px;
	height: 9px;
	background-image: url(img/up-chevron-black.svg);
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
}
.second-link-out{
	display: block;
	width: 24px;
	height: 24px;
	background-image: url(img/icon-link-out-grey.svg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 14px;
}
.second-link-out:hover{
	background-image: url(img/icon-link-blue.svg);
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*.inner-table tr:hover{
	background: rgba(214,214,214,0.45);
	background: -moz-linear-gradient(top, rgba(214,214,214,0.45) 0%, rgba(253,253,253,0) 50%, rgba(255,255,255,0) 53%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(214,214,214,0.45)), color-stop(50%, rgba(253,253,253,0)), color-stop(53%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top, rgba(214,214,214,0.45) 0%, rgba(253,253,253,0) 50%, rgba(255,255,255,0) 53%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(214,214,214,0.45) 0%, rgba(253,253,253,0) 50%, rgba(255,255,255,0) 53%, rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top, rgba(214,214,214,0.45) 0%, rgba(253,253,253,0) 50%, rgba(255,255,255,0) 53%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(214,214,214,0.45) 0%, rgba(253,253,253,0) 50%, rgba(255,255,255,0) 53%, rgba(255,255,255,0) 100%);
}*/
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.inner-table tr{
	height: 64px;
	background: #fff;
}
.inner-table td {
    border-top: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
}
.inner-table tr:first-child td {
    border-top: none;
}
.inner-table td:last-child{
	border-right: 1px solid #ebebeb;
}
.inner-title{
	position: relative;
	padding-left: 80px;
	padding-right: 48px;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	color: #646E89;
}
.second-link-in{
	display: block;
	width: 24px;
	height: 24px;
	background-image: url(img/icon-link-out-grey.svg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 30px;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	right: 16px;
}
.second-link-in:hover{
	background-image: url(img/icon-link-blue.svg);
}
.inner-table .cel-inner{
	padding-right: 24px;
}
.top-price{
	display: block;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-align: right;
	padding-bottom: 8px;
}
.price-unchanged{
	color: #000000;
}
.price-up{
	position: relative;
	color: #DB3E3E;
}
.price-down{
	position: relative;
	color: #119911;
}
.bottom-price{
	display: block;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-align: right;
	color: #646E89;
}

/**********Header***********/
html, body {
    height:100%;
}
.page-wrap{
	position: relative;
    min-height:100%;
    padding-bottom: 90px;
}
nav{
	background: #1f2736;
	padding: 12px 0;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.brand-logo img{
	width: 69px;
	height: auto;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.nav-list{
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-list li{
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	margin-left: 32px;
}
.nav-help{
	cursor: pointer;
	position: relative;
}
.nav-sort{
	cursor: pointer;
	position: relative;
}
.nav-sort-select{
	display: block;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.3;
    padding: 0 20px 0 5px;
    box-sizing: border-box;
    margin: 0;
    border: none;
    border-radius: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #1f2736;
    background-image: url(img/down-chevron.svg);
    background-repeat: no-repeat, repeat;
    background-position: right 0 top 50%, 0 0;
    background-size: 9px 9px, 100%;
}
.nav-sort-select::-ms-expand {
    display: none;
}
.nav-sort-select:focus{
	outline: none;
}
.nav-contact a{
	display: inline-block;
	background: #fff;
	color: #2f3849;
	padding: 13px 36px 12px 36px;
	border-radius: 17px;
	line-height: 1;
	font-weight: 600;
}
.modal-content{
	border: unset;
}
.modal-header .close {
    padding: 8px 16px;
    opacity: 1;
}
.modal-header .close span{
	display: inline-block;
	width: 13px;
	height: 13px;
	background-image: url(img/close.svg);
	background-repeat: no-repeat;
	background-size: cover;
}
.modal-header{
	border: none;
}
.modal-body{
	padding: 0 40px 40px 40px;
}
.modal-title{
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	color: #444444;
	padding-bottom: 40px;
}
.help-box{
	padding-bottom: 20px;
}
.help-box-img{
	padding-right: 28px;
}
.help-box-text{
	font-size: 14px;
	font-weight: 400;
	line-height: 1.3;
}

/******** Footer ************/
footer{
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
   /* background: #fff;*/
}
.footer-info{
	padding: 33px 0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #777c85;
}
.footer-info span{
	color: #5385DF;
}
.contact-icon{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: rgb(58, 128, 255);
	box-shadow: 0px 10px 20px 0px rgba(58, 100, 255, 0.35);
	position: fixed;
	top: 50%;
	right: 10px;
	cursor: pointer;
}
.contact-icon a{
	width: 60px;
	height: 60px;
	display: block;
	position: relative;
}
.contact-icon img{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Эллипс_1 {
  border-radius: 50%;
  background-color: rgb(58, 128, 255);
  box-shadow: 0px 10px 20px 0px rgba(58, 100, 255, 0.35);
  position: absolute;
  left: 1531px;
  top: 535px;
  width: 60px;
  height: 60px;
  z-index: 455;
}
